@model Admin

<div class="row orderForm">
    <form asp-controller="Admin" asp-action="Create" method="post"  role="form">
        <h3 class="col-md-offset-2">Create new Admin</h3>
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="FirstName" class="form-control" placeholder="Enter Admin FirstName" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="LastName" class="form-control" placeholder="Enter Admin Last name" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Username" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Username" class="form-control" placeholder="Enter Admin Username" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Password" class="form-control" placeholder="Enter Admin Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

         <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Email" class="form-control" placeholder="Enter Admin Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>         
        <div class="form-group">
            <div class="btn-group col-md-offset-2 col-md-6">
                <input class="btn btn-default" type="submit" value="Return" asp-controller="Admin" asp-action="List" />
                <input class="btn btn-success" type="submit" value="Create" />
            </div>
        </div>
    </form>
</div>