@model ProductViewModel

<div class="row orderForm">
    <form asp-controller="Product" asp-action="Update" method="post" class="form-horizontal" role="form">
        <h3 class="col-md-offset-2">Update new Product</h3>
        @Html.HiddenFor(m => m.Product.Id)
        @Html.HiddenFor(m => m.Product.ProductSlug)

        <div class="form-group">
            <label asp-for="Product.ProductName" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Product.ProductName" class="form-control" placeholder="Enter Product ProductName" />
                <span asp-validation-for="Product.ProductName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Product.ProductSku" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Product.ProductSku" class="form-control" placeholder="Enter Product ProductSku" />
                <span asp-validation-for="Product.ProductSku" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Product.ProductPrice" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Product.ProductPrice" class="form-control" placeholder="Enter Product ProductPrice" />
                <span asp-validation-for="Product.ProductPrice" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Product.CategoryId" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.Product.CategoryId,
                                       new SelectList(Model.Categories.Select(x => new { Value = x.Id, Text = x.Name }), "Value", "Text"), "Select Category",
                                       htmlAttributes: new { @class = "form-control border-input" })
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>


        </div>



        <div class="form-group">
            <div class="btn-group col-md-offset-2 col-md-6">
                <input class="btn btn-default" type="submit" value="Return" asp-controller="Product" asp-action="List" />
                <input class="btn btn-success" type="submit" value="Update" />
            </div>
        </div>
    </form>
</div>