@using GadgetCommerce_v2.Application.Services.Orders.ViewModel
@using GadgetCommerce_v2.Application.Enums
@model OrderUpdateVM

<div class="row orderForm">
    <form asp-controller="Orders" asp-action="Update" method="post"  role="form">
        @Html.HiddenFor(m => Model.Id)
        @Html.HiddenFor(m => Model.CustomerId)
        @Html.HiddenFor(m => Model.ProductId)
        <h3 class="col-md-offset-2">Update Orders</h3>
        <div class="form-group">
            <label asp-for="ProductName" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="ProductName" class="form-control" placeholder="Enter Orders " />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="CustomerName" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="CustomerName" class="form-control" placeholder="Enter Orders " />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
        </div>

         <div class="form-group">
            <label asp-for="BillingAddress" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="BillingAddress" class="form-control" placeholder="Enter Orders " />
                <span asp-validation-for="BillingAddress" class="text-danger"></span>
            </div>
        </div>
         <div class="form-group">
            <label asp-for="ShippingAddress" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="ShippingAddress" class="form-control" placeholder="Enter Orders " />
                <span asp-validation-for="ShippingAddress" class="text-danger"></span>
            </div>
        </div>  
        <div class="form-group">
            <label asp-for="PaymentMethod" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="PaymentMethod" class="form-control" placeholder="Enter Orders " />
                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>
        </div>  

              <div class="form-group">
            <label asp-for="OrderStatus" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                 @Html.DropDownListFor(m => m.OrderStatus, 
                                        Enum.GetValues(typeof(OrderStatus))
                                        .Cast<OrderStatus>()
                                        .Select(x => new SelectListItem { Text = x.ToString(), Value = ((int)x).ToString() }),
                                         htmlAttributes: new { @class = "form-control border-input" })
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>


        </div>



        <div class="form-group">
            <div class="btn-group col-md-offset-2 col-md-6">
                <input class="btn btn-default" type="submit" value="Return" asp-controller="Orders" asp-action="List" />
                <input class="btn btn-success" type="submit" value="Update" />
            </div>
        </div>
    </form>
</div>